[submodule "seqan"]
	path = seqan
	url = https://github.com/hannespetur/seqan.git
	branch = master
	ignore = dirty
[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib.git
	ignore = dirty
[submodule "catch"]
	path = catch
	url = https://github.com/philsquared/Catch.git
	ignore = dirty
[submodule "paw"]
	path = paw
	url = https://github.com/hannespetur/paw.git
	ignore = dirty
[submodule "parallel-hashmap"]
	path = parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
  ignore = dirty
[submodule "libdeflate"]
	path = libdeflate
	url = https://github.com/ebiggers/libdeflate.git
	ignore = dirty
[submodule "cereal"]
	path = cereal
	url = https://github.com/USCiLab/cereal.git
